form{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ihatereact{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form_item{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.submit{
    margin-top: 20px;
    height: 30px

}

.error-msg{
    color: red;
    font-size: 14px;
    padding: 0;
    margin: 0;

}